doctype
html
	head
		title #{title} -My Site
		script(src='/components/npm/jquery.min.js')
		script(src='/components/npm/lazysizes.min.js')
		script(data-main='js/main', src='/components/npm/require.js')
		link(rel='stylesheet', href='/css/style.css')
	body
		header
			p Image Gallery
		block images
		include includes/overlay.jade
	footer
		p nothing but a footer
