doctype
html
	head
		title #{title}
		script(src='js/app.bundle.js')
		link(rel='stylesheet', href='/css/style.css')
	body
		header
			p Image Gallery
		block images
		include includes/overlay.jade
	footer
		p nothing but a footer
